<h1 class="mt-5 mb-4 header">Login</h1>

<%if(errorMessage){%>
    <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
    </div>
    <%}%>

<form action="/login" method="post">
    <div class="mb-3">
        <label for="desc" class="form-label">Email address</label>
        <textarea class="form-control" id="email" name="email" required></textarea>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>